@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

main {
  /* background: #1A1A40; */
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
   background-color: #1A1A40; 
  
 
}

.logo_text{
  color: whitesmoke;
}

main.dark {
  background-color: #21222A;
}



.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
 
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  font-size: large;
}
 



/* NAV styles */

nav {
  display: flex;
  align-items: center;
  
  padding: 10px 15px;
  height: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  
}

/* nav.dark {
  background-color: #21222A;
} */



.toggler {
  display: flex;
  align-items: center;
  margin: auto;
  font-weight: bolder;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
 
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #D5D4D8;
  font-size: 12px;
 
}

nav.dark .toggler--light {
  color: #D5D4D8;
  font-size: 12px;
}

.toggler--dark {
  color: #D5D4D8;
  font-size: 12px;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
  font-size: 12px;
}

nav.dark .toggler--slider {
  justify-content: flex-end; 
}

/* Nav End */